@charset "utf-8";

html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}
$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$gray_blue : #eaf2f4;
header{

  background: $gray_blue;

  #header_in{
    padding-top: 10px;
    padding-bottom:4px;
  }

  @media (max-width: 550px) {
    .logo{
      width: 190px;
    }

    .navi{
      width:40px;
      float: right;
    }
  }

  .sp_navi_li{
    width: 180px;
    position: absolute;
    top:50px;
    right:2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding:0;

    li{

      list-style: none;
      margin: 0;
      padding:0;

      a{
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
}
// header
/* どんな時でも親BOXの幅いっぱいまで画像を配置 */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }


/* 画像サイズ以下のカラムサイズになった場合のみ縮小 */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.sp_navi_li{
  width: 180px;
  position: absolute;
  top:50px;
  right:2%;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding:0;
  display: none; //追加
}

  @media (min-width: 551px) {
    .sp_navi{
      display: none;
    }
  }
  // min-width: 551px



  li{

    list-style: none;
    margin: 0;
    padding:0;

    a{
      display: block;
      padding: 10px 8px;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      text-decoration: none;
    }
  }

@media (min-width: 551px) {
    .sp_navi{
      display: none;
    }
  }
  // min-width: 551px
  @media (max-width: 550px) {
    .pc_navi{
      display: none;
    }
  }
  // max-width: 550px
@media (min-width: 551px) {

    .sp_navi{
      display: none;
    }

    #header_in{
      padding: 15px 0 10px 0;
    }

    .pc_navi_li{
      margin:0;
      padding:0;

      li{
        list-style:none;
        margin: 5px 0 0 0;
        padding: 0;

        a{
          color: #626262;
          text-decoration: none;
          font-weight: bold;
          @include fontsize(14);
          float: left;
          padding-right: 10px;
        }

        a:hover{
          color: $blue1;
        }
      }
      // li

      li.navi_toppage a{
        //retina_bg

        background-repeat:no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

          background-image: url("../images/top/navi_top.png");
          background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/navi_top@2x.png");

        }

      }
      // .li.navi_toppage a

      li.navi_news a{
        //retina_bg

        background-repeat:no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

          background-image: url("../images/top/navi_news.png");
          background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/navi_news@2x.png");

        }

      }
      // .li.navi_news a

      li.navi_company a{
        //retina_bg

        background-repeat:no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

          background-image: url("../images/top/navi_company.png");
          background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/navi_company@2x.png");

        }

      }
      // .li.navi_company a

    }
    // .pc_navi_li

  }
  // min-width: 551px