@charset "UTF-8";
html {
  font-size: 62.5%; }

header {
  background: #eaf2f4; }
  header #header_in {
    padding-top: 10px;
    padding-bottom: 4px; }
  @media (max-width: 550px) {
    header .logo {
      width: 190px; }
    header .navi {
      width: 40px;
      float: right; } }
  header .sp_navi_li {
    width: 180px;
    position: absolute;
    top: 50px;
    right: 2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0; }
    header .sp_navi_li li {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .sp_navi_li li a {
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none; }

/* どんな時でも親BOXの幅いっぱいまで画像を配置 */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

/* 画像サイズ以下のカラムサイズになった場合のみ縮小 */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.sp_navi_li {
  width: 180px;
  position: absolute;
  top: 50px;
  right: 2%;
  border: 1px solid #eee;
  background: white;
  margin: 0;
  padding: 0;
  display: none; }

@media (min-width: 551px) {
  .sp_navi {
    display: none; } }
li {
  list-style: none;
  margin: 0;
  padding: 0; }
  li a {
    display: block;
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    text-decoration: none; }

@media (min-width: 551px) {
  .sp_navi {
    display: none; } }
@media (max-width: 550px) {
  .pc_navi {
    display: none; } }
@media (min-width: 551px) {
  .sp_navi {
    display: none; }

  #header_in {
    padding: 15px 0 10px 0; }

  .pc_navi_li {
    margin: 0;
    padding: 0; }
    .pc_navi_li li {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0; }
      .pc_navi_li li a {
        color: #626262;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem;
        float: left;
        padding-right: 10px; }
      .pc_navi_li li a:hover {
        color: #42b9d0; }
    .pc_navi_li li.navi_toppage a {
      background-repeat: no-repeat;
      display: inline-block;
      line-height: 40px;
      padding-left: 50px;
      background-image: url("../images/top/navi_top.png");
      background-size: 40px 40px; } }
    @media screen and (min-width: 551px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 551px) and (min-resolution: 2dppx) {
      .pc_navi_li li.navi_toppage a {
        background-image: url("../images/top/navi_top@2x.png"); } }
@media (min-width: 551px) {
    .pc_navi_li li.navi_news a {
      background-repeat: no-repeat;
      display: inline-block;
      line-height: 40px;
      padding-left: 50px;
      background-image: url("../images/top/navi_news.png");
      background-size: 40px 40px; } }
    @media screen and (min-width: 551px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 551px) and (min-resolution: 2dppx) {
      .pc_navi_li li.navi_news a {
        background-image: url("../images/top/navi_news@2x.png"); } }
@media (min-width: 551px) {
    .pc_navi_li li.navi_company a {
      background-repeat: no-repeat;
      display: inline-block;
      line-height: 40px;
      padding-left: 50px;
      background-image: url("../images/top/navi_company.png");
      background-size: 40px 40px; } }
    @media screen and (min-width: 551px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 551px) and (min-resolution: 2dppx) {
      .pc_navi_li li.navi_company a {
        background-image: url("../images/top/navi_company@2x.png"); } }

/*# sourceMappingURL=sample.css.map */
